<nav role="navigation" aria-label="You are here:">
  <ul class="breadcrumbs hopper-breadcrumbs">
    {% for crumb in crumbs %}
    <li>
      <a href="{{ crumb.url }}">
        {{ crumb.name }}
      </a>
    </li>
    {% endfor %}
  </ul>
</nav>
