<header class="grid-x grid-margin-x">
  <div class="cell small-9 medium-10 large-11">
    <h1>Hoppers: <small>Federated project management</small></h1>
  </div>
  {% if hopper_status %}
  <div class="hopper cell small-3 medium-2 large-1">
    {% include 'components/hopper-status.njk' %}
  </div>
  {% endif %}
</header>
