<div class="job grid-x grid-margin-x grid-padding-y">
  <div class="cell large-6 medium-8 small-12">
    <a href="/hopper/{{ hopper.slug }}/job/{{ job.uuid }}">
      {{ job.name }}
    </a>
  </div>
</div>
