<ul class="menu align-right">
  <li>
    <a href="/">
      <i class="icon-box-add"></i>
      Hoppers
    </a>
  </li>
  <li>
    <a href="/live">
      <i class="icon-play3"></i>
      Live
    </a>
  </li>
  <li>
    <a href="/blocked">
      <i class="icon-pause2"></i>
      Blocked
    </a>
  </li>
  <li>
    <a href="/done">
      <i class="icon-stop2"></i>
      Done
    </a>
  </li>
  <li>
    <a href="/user">
      <i class="icon-pacman"></i>
      Users
    </a>
  </li>
  <li>
    <a href="/team">
      <i class="icon-profile"></i>
      Teams
    </a>
  </li>
  <li>
    <a href="/login">
      <i class="icon-unlocked"></i>
      Login
    </a>
  </li>
</ul>
