{% extends "layouts/default.njk" %}

{% block header %}
<h2>Hoppers:</h2>
{% endblock %}

{% block content %}
{% for hopper in hoppers %}
<a class="button expand left" href="/hopper/{{ hopper.slug }}">
  {{ hopper.name }}
</a>
{% endfor %}
<h3>Add a hopper</h3>
<form method="post" action="/hopper/add">
  <label for="name">New hopper</label>
  <input type="text" name="name">
  <input type="submit" value="Add" class="button">
</form>
{% endblock %}
