{% extends "layouts/default.njk" %}

{% block header %}
<h2>Node Test App with MongoDB in Docker containers</h2>
{% endblock %}

{% block content %}
<h3>Hoppers:</h3>
<ul class="item-list">
  {% for hopper in hoppers %}
    <li class="item">
      <a href="/hopper/{{ hopper.slug }}">
        {{ hopper.name }}
      </a>
    </li>
    {% endfor %}
</ul>
<h3>Add a hopper</h3>
<form method="post" action="/hopper/add">
  <label for="name">New hopper</label>
  <input type="text" name="name">
  <input type="submit" value="Add" class="button">
</form>
{% endblock %}
