{% extends "layouts/default.njk" %}

{% block header %}
<h2>Hopper: {{ job.hopper.name }}</h2>
{% endblock %}

{% block content %}
<div class="grid-x grid-margin-x grid-padding-y">
  <div class="cell large-6 medium-8 small-12">
    <h3>Job: {{ job.name }}</h3>
    {% if gif_url %}
    <img src="{{gif_url}}" class="expand">
    {% endif %}
    <form method="post" action="/gifs">
      <label for="gif-search">Gif search</label>
      <input type="hidden" name="next_path" value="/hopper/{{job.hopper.slug}}/job/{{job.uuid}}/gif">
      <input type="text" name="search_term" placeholder="Search term">
      <input type="submit" class="button expand" value="Search">
    </form>
    <form method="post" action="/hopper/{{job.hopper.slug}}/job/{{job.uuid}}">
      <label for="description">Description</label>
      <textarea name="description" id="description">{{ job.description }}</textarea>
      <input type="submit" class="button expand" value="Save">
    </form>
  </div>
  <div class="cell large-2 medium-4 small-12">
    <a href="/hopper/{{job.hopper.slug}}/job/{{job.uuid}}/move" class="button expand">Move</a>
  </div>
  <div class="cell large-2 medium-4 small-12">
    <button class="button expand">Split</button>
  </div>
  <div class="cell large-2 medium-4 small-12">
    <button class="button expand">Delete</button>
  </div>
</div>
{% endblock %}
