<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/assets/packages/foundation/css/app.css' />
    <link rel='stylesheet' href='/assets/stylesheets/style.css' />
    <link rel="stylesheet" href="/assets/packages/leaflet/leaflet.css"/>
    <!-- development version, includes helpful console warnings -->
    <script src="/assets/packages/vue/vue.min.js"></script>
    <script src="/assets/packages/vue-resource/vue-resource.min.js"></script>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="/assets/packages/leaflet/leaflet.js"></script>
    <script src="/assets/packages/foundation/js/foundation.min.js"></script>
    <style type="text/css">
      #map-container {
        /*
        margin: 0;
        position: fixed;
        width: 100%;
        top: 50px;
        left: 0;
        bottom: 0;
        */
        height: 400px;
      }
    </style>
  </head>
  <body>
    <div id='vue'>
      {% block body %}
      	{% block header %} {% endblock %}
      	{% block content %} {% endblock %}
      {% endblock %}
    </div>
    <script src="/assets/javascripts/imageloader.js" ></script>
  </body>
</html>