{% extends "layouts/default.njk" %}

{% block header %}
<div class="hopper grid-x grid-margin-x grid-padding-y">
  <div class="cell small-12">
    <h2>
      <i class="icon-profile"></i>
      Teams
    </h2>
  </div>
</div>
{% endblock %}

{% block content %}
{% for team in teams %}
<a class="button expand left" href="/team/{{ team.slug }}">
  {{ team.name }}
</a>
{% endfor %}
<h3>Add a team</h3>
<form method="post" action="/team/add">
  <label for="name">Name</label>
  <input type="text" name="name">
  <select name="parent">
    <option value="">None</option>
    {% for team in teams %}
    <option value="{{team.id}}">{{team.name}}</option>
    {% endfor %}
  </select>
  <input type="submit" value="Add" class="button">
</form>
{% endblock %}
